<header class="header">
    <div class="content">
        <div class="heading-title">
            <h1>some thing for title</h1>
        </div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti ut vel et minima consectetur consequatur error, esse magnam ad, harum perferendis sapiente, velit non magni sit nihil! Earum, incidunt consequuntur!
        </p>
        <a mat-raised-button href="#" style="background: none;border-radius: 20px;border: 1px solid #fff">
            more details
        </a>
    </div>
    <div class="example-product-cards">
        <div class="card">
            <div class="image">

            </div>
            <div class="name">

            </div>
            <div class="price">

            </div>
            <div class="profit">

            </div>
        </div>
    </div>
</header>
<section class="second-section">
    <div class="image">

    </div>
    <div class="content">
        <h2>
            All you need to know
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quis explicabo ducimus facere provident voluptatem veniam veritatis aspernatur molestias totam nihil fugiat non excepturi iure, distinctio, laudantium asperiores, numquam ipsam.
        </p>
        <h2>
            why us?
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quis explicabo ducimus facere provident voluptatem
        </p>
    </div>
</section>
<section class="third-section">
   <div class="heading">
       <h1>
           you will find everything you need to start as a dealer
        </h1>
        <p class="tag-line">
            we will make it easy to convince your clients with the products.
        </p>
    </div>
    <div class="boxs">
        <div class="box">
            <div class="icon">
                
            </div>
            <h3 class="box-title">
                You have orders and we have the rest
            </h3>
            <p class="box-content">
                All you have to do is order from us and we take care of every need to some extent the product is delivered to the customer
            </p>
        </div>
        <div class="box">
            <div class="icon">
                
            </div>
            <h3 class="box-title">
                Without capital
            </h3>
            <p class="box-content">
                You can start without any risk, all that you will need is that you shop for the products you choose
            </p>
        </div>
        <div class="box">
            <div class="icon">
                
            </div>
            <h3 class="box-title">
                Great profit margins
            </h3>
            <p class="box-content">
                With every product you market and sell, you will have a satisfactory profit margin that is significant for the product
            </p>
        </div>
        <div class="box">
            <div class="icon">
                
            </div>
            <h3 class="box-title">
                We'll teach you marketing
            </h3>
            <p class="box-content">
                We will make it easy for you, the merchant team will help you to shop your product easily
            </p>
        </div>
    </div>
</section>
<section class="forth-section">
    <div class="heading">
        <h1>
            Easy and simple steps to get started
         </h1>
         <p class="tag-line">
            How does it work?
         </p>
     </div>
     <div class="steps">
         <div class="step-1">
             <div class="no">
                1
             </div>
             <div class="icon">
                sign up
             </div>
             <div class="content">
                Register your account on the merchant site
             </div>
         </div>
         <div class="step-2">
            <div class="no">
                2
            </div>
            <div class="icon">
                choose products
            </div>
            <div class="content">
                Choose a product from your e-store to sell
            </div>
        </div>
        <div class="step-3">
            <div class="no">
                3
            </div>
            <div class="icon">
                order for your clients
            </div>
            <div class="content">
                Order for your customer from the site and dealer for a free shipping
            </div>
        </div>
        <div class="step-4">
            <div class="no">
                4
            </div>
            <div class="icon">
                get your money
            </div>
            <div class="content">
                Your profit is transferred to your account immediately after collection from the customer
            </div>
        </div>
     </div>
</section>

<section class="testmonials">
    <div class="heading">
        <h1>
            User reviews
        </h1>
        <div class="icon">

        </div>
    </div>
    <div class="reviews">
        <div class="review">
            <div class="qoute-content">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit quos mollitia. Libero, error amet. Eos veritatis debitis aut optio similique magni rerum itaque a."
            </div>
            <div class="personal-info">
                <div class="personal-name">
                    Mohamed
                </div>
                <div class="store-name">
                    MOniem
                </div>
                <div class="avatar">
                    
                </div>
            </div>
        </div>
        <div class="review">
            <div class="qoute-content">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit quos mollitia. Libero, error amet. Eos veritatis debitis aut optio similique magni rerum itaque a."
            </div>
            <div class="personal-info">
                <div class="personal-name">
                    Mohamed
                </div>
                <div class="store-name">
                    MOniem
                </div>
                <div class="avatar">
                    
                </div>
            </div>
        </div>
        <div class="review">
            <div class="qoute-content">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit quos mollitia. Libero, error amet. Eos veritatis debitis aut optio similique magni rerum itaque a."
            </div>
            <div class="personal-info">
                <div class="personal-name">
                    Mohamed
                </div>
                <div class="store-name">
                    MOniem
                </div>
                <div class="avatar">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="start-now">
    <div class="heading">
        <h1>All you have to do is register and see the products</h1>
        <p class="tag-line">
            A merchant supports all those who are thinking of building their own e-commerce with many services
        </p>
    </div>
    <button mat-raised-button>
        start now
    </button>
</section>