<footer>
    <div class="container">
        <div class="row footer-content">
                <div class="col-md-6 col-12">
                    <div class="stock">
                        <div class="logo">
                            <span></span>
                        </div>
                        <div class="about">
                            A merchant supports all those who think build their e-commerce with many services. First is a platform that allows merchants to manage and track orders, propose and provide a wide range of products, product shipping services and delivery to the final customer and collect them, immediate transfer of sales value to merchants, in addition to marketing consultations that help merchants sell their products through the Internet and suggest products that suit them and suit their target customers.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="contacts">
                        <div class="social">
                            Follow us on social media
                            <div class="social-links">
                                <a href="https://facebook.com">facebook</a>
                                <a href="https://linkedin.com">Linkedin</a>
                            </div>
                        </div>
                        <div class="mail">
                            Contact us by e-mail:<br/>
                            email <a href="mailto:info@stock.com">info@stock.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="copy-rights">
        All Right Reserved &copy; for Stock. powerd by MOniem.
    </div>
</footer>