<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12">
                <a [routerLink]="['/']">
                    <div class="logo"></div>
                </a>
            </div>

            <!-- this below if you're not logedin -->
            <div class="col-md-9 col-12" *ngIf="!loggedin">
                <div class="menu">
                    <a mat-raised-button [routerLink]="['/signin']" class="signin">sign in</a>
                    <a mat-raised-button [routerLink]="['/signup']" class="signup">sign up</a>
                </div>
            </div>


            <!-- this below if you're logedin -->
            <div class="col-md-9 col-12" *ngIf="loggedin">
                <div class="menu">
                    <a mat-raised-button [routerLink]="['/products']" class="signin">sign in</a>
                    <a mat-raised-button [routerLink]="['/cart']" class="cart"><mat-icon>shopping_cart</mat-icon>Cart</a>
                    <a mat-raised-button [routerLink]="['/shipping']" class="shipping"><mat-icon>shipping</mat-icon>Shipping</a>
                    <a mat-raised-button [routerLink]="['/profile']" class="profile"><mat-icon>personal</mat-icon>profile</a>
                    <a mat-raised-button [routerLink]="['/logout']" class="logout"><mat-icon>log_out</mat-icon>Log Out</a>
                </div>
            </div>

        </div>
    </div>
</nav>