<app-product></app-product>

1-spinner on all pages >>>> this will added after finished all 
2- related products just two small products 
3- title of product appeare above single product >>> this is done
4- countdown timer in single product after and buybtn full width with counter of items.
and make it flow in hole page 
5- instock show number of stock items
6- show discount percent over product in single as line _____ .
7- number of watching now this product (random number from 10 to 100),
8- add massenger button 
9- messenger every 20sec show message with rondom messages.
10- add review section after single product 
11- save data of user as boadcast. or cookies.
12- refund in 14 days , free shipping , original products 100%.