/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
    font-family: 'coco';
    src: url('../src/assets/co-webfont.woff2') format('woff2'),
         url('../src/assets/co-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}